{% extends "base.html" %} {% block main_content %}
<div class="register">
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }} {{ form.user_name.label }} {{ form.user_name() }} {%
    for error in form.user_name.errors %} {{ error }} {% endfor %}

    <br />

    {{ form.password.label }} {{ form.password() }} {% for error in
    form.password.errors %} {{ error }} {% endfor %}

    <br />

    {{ form.password2.label }} {{ form.password2() }} {% for error in
    form.password2.errors %} {{ error }} {% endfor %}

    <br />

    {{ form.submit() }}
  </form>
  <a href="{{url_for('login')}}">Login</a>
  <p><button><a href="{{url_for('index')}}">Home</a></button></p>
</div>

{% endblock %}